<fieldset class="blue">
    <legend>Jamespot</legend>
    <h2 *ngIf="jamesCurrentUser.idUser != null">
        {{ currentUser.firstName }} {{ currentUser.lastName }} - Id:
        {{ jamesCurrentUser.idUser }}
    </h2>

    <form *ngIf="jamesCurrentUser!=null">
        <input
            type="text"
            [(ngModel)]="currentUser.common.userName"
            name="pseudo"
            (ngModelChange)="checkUsernameAvailability()"
            [attr.disabled]="true"
        >Pseudo
        <br>

        <!-- IMAGE UPDATE -->
        <input
            type="file"
            (change)="onFileSelected($event)"
        >
        <br>
        <!-- BUTTONS -->
        <div *ngIf="jamesCurrentUser.idUser != null">
            <button
                type="button"
                (click)="onUpdate()"
            >Update</button>

            <button
                type="button"
                (click)="onDisable()"
            >Disable</button>

            <button
                type="button"
                (click)="onDelete()"
            >Delete</button>
        </div>

    </form>

    <h3 *ngIf="updateSuccessful">Data Updated ! </h3>

    <h2 *ngIf="isDeleted">User {{ deletedId }} deleted !</h2>
    <h3 *ngIf="jamesMessage != null">{{ jamesMessage }}</h3>
</fieldset>
