<fieldset
    class="blue"
    *ngIf="teams != null"
>
    <legend>Teams</legend>
    <div class="teams checkbox-list subtitle">
        <div *ngFor="let team of teams ; trackBy: trackByFn">
            <label>
                <input
                    type="radio"
                    name="teamId"
                    [(ngModel)]="sugarCurrentUser.team"
                    (click)="handleClick(team)"
                    [value]="team.name"
                >{{ team.name }}
            </label>
        </div>
    </div>
</fieldset>
