<fieldset
    class="blue"
    *ngIf="teams != null"
>
    <legend>Teams</legend>
    <div class="teams checkbox-list subtitle">
        <div *ngFor="let team of teams ; trackBy: trackByFn">
            <label>
                <input
                    type="radio"
                    name="team"
                    [(ngModel)]="sugarCurrentUser.teamId"
                    [value]="team.name.substring(3, team.name.length)"
                >{{ team.name.substring(3, team.name.length) }}
            </label>
        </div>
    </div>
</fieldset>
