#builds
src/aot/*
!src/aot/.gitkeep
build/**
gulp-tsc-tmp-*/
tmp/*
/dist/

#coverage
coverage

#node
node_modules/*
npm-debug.log
/yarn-error.log

#IDE
.idea/*
*.iml
*.vscode

#reports
reports/*.xml

#tests
tests/*.json
tests/*.png
tests/*.xml

#todo
TODO.md

#G Suite credentials
.gsuite_credentials.json

#private keys
keys.ts
