SetEnvIf Host testing.usr.marcovasco.fr passreq
AuthType Basic
AuthName "Password Required"
AuthUserFile /usr/local/apache2/htdocs/src/app/assets/index-password/.htpasswd
Require valid-user
Order allow,deny
Allow from all
Deny from env=passreq
Satisfy any

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
