AuthType Basic
AuthName "Password Required"
AuthUserFile /usr/local/apache2/htdocs/src/app/assets/index-password/.htpasswd
Require valid-user
Allow from localhost
Satisfy Any

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
