<fieldset
    class="blue"
    *ngIf="1 != null"
>
    <legend>Switchvox</legend>

    <div>
        <label>Phone Number (phoneWork)
            <input
                name="phoneWork"
                type="tel"
                [(ngModel)]="currentUser.sugarCurrentUser.phoneWork"
            >
        </label>
    </div>

    <div>
        <label>Extension (phoneAsterisk)
            <input
                name="phoneAsterisk"
                type="tel"
                [(ngModel)]="currentUser.sugarCurrentUser.phoneAsterisk"
            >
        </label>
    </div>

    <div>
        Téléphonie a distance
        <select
            name="swTelephony"
            [(ngModel)]="currentUser.swTelephony"
        >
            <option value="false">Non</option>
            <option value="true">Oui</option>
        </select>
    </div>

    <div>
        Click to call
        <select
            name="swClickToCall"
            [(ngModel)]="currentUser.swClickToCall"
        >
            <option value="0">Non</option>
            <option value="1">Oui</option>
        </select>
    </div>
    <div>
        Notifications appels entrants
        <select
            name="swCallNotification"
            [(ngModel)]="currentUser.swCallNotification"
        >
            <option value="0">Non</option>
            <option value="1">Oui</option>
        </select>
    </div>
</fieldset>
