<!DOCTYPE html>
<html>
<head>
<title>Directory API Quickstart</title>
<meta charset="utf-8" />
</head>
<body>
<p>Directory API Quickstart</p>
<!--This file is launched wity Python server-->


<!--Add buttons to initiate auth sequence and sign out-->
<button id="authorize_button" style="display: none;">Authorize</button>
<button id="signout_button" style="display: none;">Sign Out</button>

<pre id="content" style="white-space: pre-wrap;"></pre>

<script async defer src="https://apis.google.com/js/api.js"
onload="this.onload=function(){};handleClientLoad()"
onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</body>
</html>
