<h2>Import</h2>

<textarea
    #textArea="ngModel"
    [(ngModel)]="csv"
    name="csv"
    rows="4"
    cols="100"
    (ngModelChange)="parse(csv)"
>
</textarea>
<h2>{{ message }}</h2>
<br>
<table *ngIf="users && users != undefined">
    <thead>
        <tr>
            <th></th>
            <th>Salutation</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Id</th>
            <th>Title</th>
            <th>Department</th>
            <th>Office Id</th>
            <th>Team</th>
            <th>Tourplan Id</th>
            <th>Email</th>
            <th>Phone Work</th>
            <th>Phone Asterisk</th>
            <th>Password</th>
            <th>Manager</th>
            <th>Username</th>
            <th>IsAdmin?</th>
            <th>API User?</th>
            <th>Status</th>
            <th>Notification</th>
            <th>Employee Status</th>
            <th>Leads Min</th>
            <th>Leads Max</th>
            <th>Google Groups</th>
            <th>Sugar</th>
            <th>Jamespot</th>
            <th>Google</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; trackBy: trackByFn">
            <td>{{ users.indexOf(user) +1 }}.</td>
            <td>{{ user.sugarCurrentUser.salutation }}</td>
            <td>{{ user.common.firstName }}</td>
            <td>{{ user.common.lastName }}</td>
            <td>{{ user.sugarCurrentUser.id }}</td>
            <td>{{ user.sugarCurrentUser.title }}</td>
            <td>{{ user.sugarCurrentUser.department }}</td>
            <td>{{ displayOfficeNameFromId(user.sugarCurrentUser.officeId) }}</td>
            <td>{{ user.sugarCurrentUser.teams[0] }}</td>
            <td>{{ user.sugarCurrentUser.tourplanID }}</td>
            <td>{{ user.common.email }}</td>
            <td>{{ user.sugarCurrentUser.phoneWork }}</td>
            <td>{{ user.sugarCurrentUser.phoneAsterisk }}</td>
            <td>{{ user.common.password }}</td>
            <td>{{ displayManagerName(user.sugarCurrentUser.managerId) }}</td>
            <td>{{ user.common.userName }}</td>
            <td>{{ user.sugarCurrentUser.isAdmin }}</td>
            <td>{{ user.sugarCurrentUser.apiPortalUser }}</td>
            <td>{{ user.sugarCurrentUser.status }}</td>
            <td>{{ user.sugarCurrentUser.assignationNotification }}</td>
            <td>{{ user.sugarCurrentUser.employeeStatus }}</td>
            <td>{{ user.sugarCurrentUser.leadsMin }}</td>
            <td>{{ user.sugarCurrentUser.leadsMax }}</td>
            <td>
                <span *ngFor="let group of user.ggCurrentUser.googleGroups">
                    {{ group.name }}
                </span>
            </td>
            <td [ngClass]="{'danger': user.postStatus.sugar.isFailed}">{{ user.postStatus.sugar.message }}</td>
            <td [ngClass]="{'danger': user.postStatus.jamespot.isFailed}">
                {{ user.postStatus.jamespot.message }}</td>
            <td [ngClass]="{'danger': user.postStatus.gapi.isFailed}">
                {{ user.postStatus.gapi.message }}</td>
        </tr>
    </tbody>
</table>
<button
    *ngIf="showParseButton"
    (click)="parse(csv)"
>Parse</button>
<button
    *ngIf="!showParseButton"
    (click)="postUsers(users)"
>Create</button>
<br>

<pre>{{ users[0] | json }}</pre>
