<h2>User component</h2>
<h3>Fake User</h3>

<div *ngIf="fakeUser && fakeUser != undefined">
<h4>{{ fakeUser.attributes.firstName }} {{ fakeUser.attributes.lastName }}</h4>
<ul>
 <li><strong>ID:</strong> {{ fakeUser.id }}</li>
 <li><strong>Type:</strong> {{ fakeUser.type }}</li>
 <li><strong>Phone Home:</strong> {{ fakeUser.attributes.phoneHome }}</li>
 <li><strong>Phone Mobile:</strong> {{ fakeUser.attributes.phoneMobile }}</li>
 <li><strong>Phone Work:</strong> {{ fakeUser.attributes.phoneWork }}</li>
 <li><strong>Phone Other:</strong> {{ fakeUser.attributes.phoneOther }}</li>
 <li><strong>Phone Fax:</strong> {{ fakeUser.attributes.phoneFax }}</li>
 <li><strong>Phone Asterisk:</strong> {{ fakeUser.attributes.phoneAsterisk }}</li>
 <li><strong>E-mail:</strong> {{ fakeUser.attributes.email }}</li>
</ul>
</div>

<h3>HTTP GET Real user</h3>
<div *ngIf="realUser && realUser != undefined">
  <h4>{{ realUser.attributes.firstName }} {{ realUser.attributes.lastName }}</h4>
  <ul>
   <li><strong>ID:</strong> {{ realUser.id }}</li>
   <li><strong>Type:</strong> {{ realUser.type }}</li>
   <li><strong>Phone Home:</strong> {{ realUser.attributes.phoneHome }}</li>
   <li><strong>Phone Mobile:</strong> {{ realUser.attributes.phoneMobile }}</li>
   <li><strong>Phone Work:</strong> {{ realUser.attributes.phoneWork }}</li>
   <li><strong>Phone Other:</strong> {{ realUser.attributes.phoneOther }}</li>
   <li><strong>Phone Fax:</strong> {{ realUser.attributes.phoneFax }}</li>
   <li><strong>Phone Asterisk:</strong> {{ realUser.attributes.phoneAsterisk }}</li>
   <li><strong>E-mail:</strong> {{ realUser.attributes.email }}</li>
 </ul>
</div>

<!-- <div *ngFor="let user of realUsers; trackBy: trackByFn">
 <h4>{{ user.data.id }}</h4>
 <h4>{{ user.data.attributes.firstName }}</h4>
 <h4>{{ user.data.attributes.lastName }}</h4>
</div>
-->
