<h2> Disable User Form </h2>

<form>
 <fieldset>
  <legend>Type de compte</legend>
  <div class="checkbox-list" id="account-type">
    <div *ngFor="let account of fields.accounts ; trackBy: trackByFn">
      <input type="checkbox" [name]="account.label" [(ngModel)]="account.checked">{{ account.name }}
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Action</legend>
  <div class="select">
   <div class="subtitle">Compte utilisateur a desactiver</div>
   <select>
    <option>*Néant*</option>
    <option>Utilisateur 1</option>
    <option>Utilisateur 2</option>
  </select>
</div>
<div>
 <label for=password>Nouveau mot de passe</label>
 <input name=password type=text>
</div>
<div class="checkbox-list" id="account-type">
 <div class="subtitle">Action</div>
 <label>
  <input type=checkbox>Gapps - Retirer des boucles
</label>
<label>
  <input type=checkbox>Gapps - Changer le mot de passe
</label>
<label>
  <input type=checkbox>Sugar - Desactiver le compte
</label>
<div class=clear-fix>
</div>
</div>
</fieldset>
<button
[disabled]="!enableAdd"
>Desactiver l'utilisateur</button>
</form>
