<fieldset class="blue">
    <legend>Google Apps</legend>
    <div class="select subtitle">Organisation
        <select
            [(ngModel)]="currentUser.ggOrganisationId"
            name="ggOrganisationId"
        >
            <option
                *ngFor="let orga of orgas ; trackBy: trackByFn"
                [value]="orga.value"
            >{{ orga.value }}
            </option>
        </select>
    </div>

    <label>
        <input
            type="text"
            name="ggGroups"
            [(ngModel)]="currentUser.ggGroups"
        >
        Groupes - Séparer les noms de groupes par des ";" et ne pas mettre @planetveo.com
    </label>
</fieldset>
<pre>{{ currentUser | json }}</pre>
