<h1>API Quickstart</h1>

<div>
    <div>API is loaded : {{ apiLoaded }}</div>
    <div>API is failed : {{ apiFailed }}</div>
    <div>API is ready : {{ apiReady }}</div>
    <div>User logged in : {{ userLoggedIn }}</div>
    <br>
    <button
        *ngIf="userLoggedIn==='Logged out'"
        (click)="signIn()"
    >Sign In</button>

    <div *ngIf="userLoggedIn!=='Logged out'">
        <button (click)="signIn()">Change Users</button>
        <button (click)="signOut()">Sign Out</button>
        <button (click)="listUsers()">List Users</button>
        <button
            *ngIf="currentUser.id != null"
            (click)="resetForm()"
        >New User</button>

        <div id="content">

            Email or alias of user to get (ex. bmrejen@marcovasco.fr)
            <br>
            <input
                type="text"
                name="userToGet"
                [(ngModel)]="userToGet"
            >
            <button (click)="getUser(userToGet)">Get</button>
            <hr>
            <input
                type="text"
                name="id"
                [(ngModel)]="currentUser.id"
                [attr.disabled]="true"
            >ID
            <br>
            <input
                type="text"
                name="firstName"
                [(ngModel)]="currentUser.givenName"
            >First name
            <br>
            <input
                type="text"
                name="lastName"
                [(ngModel)]="currentUser.familyName"
            >Last name
            <br>
            <input
                type="text"
                name="password"
                [(ngModel)]="currentUser.password"
            >Password
            <br>
            <input
                type="text"
                name="primaryEmail"
                [(ngModel)]="currentUser.primaryEmail"
                (ngModelChange)="refreshEmail()"
                [disabled]="currentUser.id != null"
            >Primary Mail
            <br>
            <div *ngIf="currentUser.id === null">
                Primary mail suffix
                <select
                    name="primaryEmailSuffix"
                    [(ngModel)]="currentUser.primaryEmailSuffix"
                    (ngModelChange)="refreshEmail()"
                >Primary Email
                    <option value="planetveo.com">planetveo.com</option>
                    <option value="marcovasco.fr">marcovasco.fr</option>
                    <option value="chinaveo.com">chinaveo.com</option>
                    <option value="marcovasco.com">marcovasco.com</option>
                    <option value="prestige-voyages.com">prestige-voyages.com</option>
                </select>
            </div>
            <br>
            Orgas
            <select
                name="orgas"
                [(ngModel)]=currentUser.orgas
            >
                <option
                    *ngFor="let orga of orgas"
                    [value]="orga.value"
                >{{ orga.value }}
                </option>
            </select>
            <br>
            <div *ngIf="currentUser.id != null">
                Other Emails
                <div *ngFor="let email of currentUser.emails">
                    <input
                        type="text"
                        [value]="email.address"
                        [attr.disabled]="true"
                    >
                </div>
            </div>

            <button
                *ngIf="currentUser.id === null"
                (click)="postUser(currentUser)"
            >Create</button>
            <button
                *ngIf="currentUser.id != null"
                (click)="updateUser()"
            >Update</button>
            <h2 *ngIf="message != null">{{ message }}</h2>

            <table *ngIf="users && users != undefined">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Is Admin</th>
                        <th>Team</th>
                        <th>Primary Email</th>
                        <th>Emails</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; trackBy: trackByFn">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name.givenName }}</td>
                        <td>{{ user.name.familyName }}</td>
                        <td>{{ user.isAdmin }}</td>
                        <td>{{ user.orgUnitPath }}</td>
                        <td>{{ user.primaryEmail }}</td>
                        <td>
                            <ul *ngIf="user.emails && user.emails != undefined">
                                <li *ngFor="let email of user.emails; trackBy: trackByFn">
                                    {{ email.address }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
