<h1>API Quickstart</h1>

<!-- <button id="authorize_button" style="display: none;">Authorize</button>
<button id="signout_button" style="display: none;">Sign Out</button>

<pre id="content" style="white-space: pre-wrap;"></pre> -->
<ng-container *ngIf="authIsLoaded">
    <button *ngIf="!isLoggedIn" (click)="signIn()">Sign In With Google</button>
    <button *ngIf="isLoggedIn" (click)="signOut()">Sign Out</button>
</ng-container>
<h2 *ngIf="authIsLoaded && isLoggedIn"> Signed in as {{ user.name }} </h2>
