<h3 [routerLink]="['/users']">&lt;-- Back</h3>
<h2> Create User Form </h2>

<form
    #createForm="ngForm"
    (ngSubmit)="onSubmit()"
>

    <ng-container *ngIf="fields != null">
        <mv-accounts [accounts]="fields.accounts"></mv-accounts>
        <input
            type="text"
            [(ngModel)]="mailToGet"
            name="mailToGet"
        >
        <button
            type="button"
            (click)=getUser()
        >Get User</button>
        <button
            type="button"
            (click)=prefillForm()
        >Prefill</button>

        <div *ngIf="isRealUser === false">{{ mailToGet }} redirects to
            {{ currentUser.ggCurrentUser.primaryEmail | uppercase }}</div>
        <div *ngIf="isRealUser">{{ mailToGet }} belongs to real account</div>
        <hr>


        <div class="grid-container">
            <mv-credentials
                [sugarCurrentUser]="currentUser.sugarCurrentUser"
                [currentUser]="currentUser"
                [civilites]="fields.civilites"
                [userFields]="fields.userFields"
                [usersFromSugar]="usersFromSugar"
                [sugarMessage]="sugarMessage"
                class="credentials"
            ></mv-credentials>

            <mv-phones
                [sugarCurrentUser]="currentUser.sugarCurrentUser"
                class="phones"
            ></mv-phones>
            <mv-jamespot
                class="jamespot"
                [jamesCurrentUser]="currentUser.jamesCurrentUser"
                [jamesMessage]="jamesMessage"
                [currentUser]="currentUser"
            >
            </mv-jamespot>
            <mv-gapi-users
                [currentUser]="currentUser"
                [oldUser]="oldUser"
                [ggCurrentUser]="currentUser.ggCurrentUser"
                [gapiMessage]="gapiMessage"
                [gapiStatus]="gapiStatus"
                class="google"
            ></mv-gapi-users>
        </div>
        <mv-profiles
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
            [ggCurrentUser]="currentUser.ggCurrentUser"
            [roles]="roles"
            [userTemplates]="fields.userTemplates"
            [departments]="fields.departments"
            [orgas]="fields.orgas"
            [others]="fields.others"
        ></mv-profiles>

        <mv-office
            [offices]="fields.offices"
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
        ></mv-office>
        <mv-function
            [functions]="fields.functions"
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
        ></mv-function>
        <mv-manager
            [managers]="managers"
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
        ></mv-manager>

        <mv-destinations
            [destinations]="destinations"
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
        ></mv-destinations>
        <mv-teams
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
            [teams]="teams"
        ></mv-teams>
        <mv-others
            [others]="fields.others"
            [sugarCurrentUser]="currentUser.sugarCurrentUser"
        ></mv-others>
        <mv-extraneous [sugarCurrentUser]="currentUser.sugarCurrentUser"></mv-extraneous>
        <mv-gapps
            [ggCurrentUser]="currentUser.ggCurrentUser"
            [googleGroups]="googleGroups"
        ></mv-gapps>

        <div *ngIf="errorMsg">ERROR: {{ errorMsg }}</div>
        <button
            [disabled]="!createForm.form.valid"
            type="button"
            (click)="onSubmit()"
        >Créer l'utilisateur</button>
    </ng-container>
</form>
<pre>{{ currentUser | json }}</pre>
