<h2> Create User Form </h2>

<form
    #createForm="ngForm"
    (ngSubmit)="onSubmit(createForm)"
>

    <ng-container *ngIf="fields != null">
        <mv-accounts [accounts]="fields.accounts"></mv-accounts>
        <mv-credentials
            [currentUser]="currentUser"
            [civilites]="fields.civilites"
            [userFields]="fields.userFields"
            [usersFromSugar]="usersFromSugar"
        ></mv-credentials>

        <mv-phones [currentUser]="currentUser"></mv-phones>

        <mv-profiles
            [currentUser]="currentUser"
            [selectedFunction]="fields.selectedFunction"
            [selectedOffice]="fields.selectedOffice"
            [roles]="roles"
            [userTemplates]="fields.userTemplates"
            [departments]="fields.departments"
            [orgas]="fields.orgas"
            [others]="fields.others"
        ></mv-profiles>

        <mv-office
            [offices]="fields.offices"
            [currentUser]="currentUser"
        ></mv-office>
        <mv-function
            [functions]="fields.functions"
            [currentUser]="currentUser"
        ></mv-function>
        <mv-manager
            [managers]="managers"
            [currentUser]="currentUser"
        ></mv-manager>

        <mv-destinations
            [destinations]="destinations"
            [currentUser]="currentUser"
        ></mv-destinations>
        <mv-teams
            [currentUser]="currentUser"
            [teams]="teams"
        ></mv-teams>
        <mv-others
            [others]="fields.others"
            [currentUser]="currentUser"
        ></mv-others>
        <mv-extraneous [currentUser]="currentUser"></mv-extraneous>
        <mv-switchvox [currentUser]="currentUser"></mv-switchvox>
        <mv-gapps
            [orgas]="fields.orgas"
            [selectedOrganisation]="fields.selectedOrganisation"
            [groupes]="fields.groupes"
        ></mv-gapps>

        <div *ngIf="errorMsg">ERROR: {{ errorMsg }}</div>
        <button
            [disabled]="!createForm.form.valid"
            type="submit"
        >Créer l'utilisateur</button>
    </ng-container>
</form>
