<div *ngIf="userTemplates != null && roles != null && departments != null">
    <fieldset class="blue">
        <legend>Profiles SugarCRM</legend>
        <button
            type="button"
            (click)="handleClick('conseiller')"
        >Ventes - Conseiller
        </button>
        <button
            type="button"
            (click)="handleClick('jm')"
        >Ventes – Junior Manager
        </button>
        <button
            type="button"
            (click)="handleClick('manager')"
        >Ventes - Manager
        </button>
        <button
            type="button"
            (click)="handleClick('assistant')"
        >Ventes – Assistant de ventes
        </button>
        <button
            type="button"
            (click)="handleClick('qualite')"
        >Agent Qualité
        </button>
        <button
            type="button"
            (click)="handleClick('compta')"
        >Compta
        </button>
        <button
            type="button"
            (click)="handleClick('inactif')"
        >Inactif
        </button>


        <div class="select subtitle">Hérite les préférence de l'utilisateur
            <select
                name="userToCopyHPfrom"
                [(ngModel)]="currentUser.sugarCurrentUser.userToCopyHPfrom"
            >
                <option
                    *ngFor="let user of userTemplates ; trackBy: trackByFn"
                    [value]="user.value"
                >
                    {{ user.value | uppercase }}
                </option>
            </select>
        </div>

        <div class="checkbox-list subtitle">ROLE:
            <span *ngFor="let role of roles; trackBy: trackByFn">
                <label>
                    <!-- ngModel can be binded to role ID if needed -->
                    <input
                        type="radio"
                        [value]="role.name"
                        [(ngModel)]="currentUser.sugarCurrentUser.role"
                        name="role"
                    >
                    {{ role.name }}
                </label>
            </span>
        </div>

        <div
            class="checkbox-list subtitle"
            ngModelGroup="departments"
        >DEPARTMENT:
            <span *ngFor="let department of departments ; trackBy: trackByFn">
                <label>
                    <input
                        type="radio"
                        name="department"
                        [(ngModel)]="currentUser.sugarCurrentUser.department"
                        [value]="department.name"
                    >{{ department.name }}
                </label>
            </span>
        </div>

        <div *ngIf="currentUser.department === 'Ventes'">
            <label>Leads min
                <input
                    type="number"
                    name="leadsMin"
                    [(ngModel)]="currentUser.sugarCurrentUser.leadsMin"
                >
            </label>
            <br>
            <label>Leads max
                <input
                    type="number"
                    name="leadsMax"
                    [(ngModel)]="currentUser.sugarCurrentUser.leadsMax"
                >
            </label>
        </div>
    </fieldset>
</div>
