<h2>{{ filter }} users: {{ filteredUsers.length }}</h2>

<button (click)="filterUsers('active')">Actifs</button>
<button (click)="filterUsers('inactive')">Inactifs</button>
<button (click)="filterUsers('all')">Tous</button>
<br><br>
<button routerLink="/create">Nouvel utilisateur</button>

<table *ngIf="filteredUsers && filteredUsers != null">
    <thead>
        <tr>
            <th></th>
            <th>Mr/Mme</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Departement</th>
            <th>Sugar ID</th>
            <th>Status</th>
            <th>Employee Status</th>
            <th>Manager</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let user of filteredUsers; trackBy: trackByFn"
            [routerLink]="['/users', user.sugarCurrentUser.id]"
        >
            <td>
                <button [routerLink]="['/disable', user.id]">Delete</button>
            </td>
            <td>{{ user.sugarCurrentUser.salutation }}</td>
            <td>{{ user.common.firstName }}</td>
            <td>{{ user.common.lastName }}</td>
            <td>{{ user.sugarCurrentUser.department }}</td>
            <td>{{ user.sugarCurrentUser.id }}</td>
            <td>{{ user.sugarCurrentUser.status }}</td>
            <td>{{ user.sugarCurrentUser.employeeStatus }}</td>
            <td>{{ mapIdToUser(user.sugarCurrentUser.managerId) }}</td>
        </tr>
    </tbody>
</table>
