<h2>Users component</h2>

<h3>Sugar Users</h3>

<button routerLink="/create">Nouvel utilisateur</button>

<table *ngIf="usersFromSugar && usersFromSugar != undefined">
  <tr>
    <th></th>
    <th>Mr/Mme</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Dept</th>
    <th>Office Id</th>
    <th>Team Id</th>
    <th>Tourplan Id</th>
    <th>SW ClickToCall</th>
    <th>SW CallNotification</th>
    <th>Code SON Galileo</th>
    <th>ID</th>
    <th>Type</th>
    <th>Phone Home</th>
    <th>Phone Mobile</th>
    <th>Phone Work</th>
    <th>Phone Other</th>
    <th>Phone Fax</th>
    <th>Phone Asterisk</th>
    <th>Status</th>
    <th>Employee Status</th>
    <th>Manager ID</th>
  </tr>
  <tr *ngFor="let user of usersFromSugar ; trackBy: trackByFn">
    <td>
      <button [routerLink]="['/users', user.id]">Edit</button>
      <button [routerLink]="['/disable', user.id]">Delete</button>
    </td>
    <td>{{ user.salutation }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.userName }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.department }}</td>
    <td>{{ user.officeId }}</td>
    <td>{{ user.teamId }}</td>
    <td>{{ user.tourplanID }}</td>
    <td>{{ user.swClickToCall }}</td>
    <td>{{ user.swCallNotification }}</td>
    <td>{{ user.codeSonGalileo }}</td>
    <td>{{ user.id }}</td>
    <td>{{ user.type }}</td>
    <td>{{ user.phoneHome }}</td>
    <td>{{ user.phoneMobile }}</td>
    <td>{{ user.phoneWork }}</td>
    <td>{{ user.phoneOther }}</td>
    <td>{{ user.phoneFax }}</td>
    <td>{{ user.phoneAsterisk }}</td>
    <td>{{ user.status }}</td>
    <td>{{ user.employeeStatus }}</td>
    <td>{{ user.managerId }}</td>
  </tr>
</table>

