<h2>Users component</h2>

<h3>Sugar Users</h3>

<table *ngIf="usersFromSugar && usersFromSugar != undefined">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>ID</th>
    <th>Type</th>
    <th>Phone Home</th>
    <th>Phone Mobile</th>
    <th>Phone Work</th>
    <th>Phone Other</th>
    <th>Phone Fax</th>
    <th>Phone Asterisk</th>
    <th>Email</th>
    <th>Status</th>
    <th>Employee Status</th>
  </tr>
  <tr *ngFor="let user of usersFromSugar ; trackBy: trackByFn">
    <td>{{ user.attributes.firstName }}</td>
    <td>{{ user.attributes.lastName }}</td>
    <td>{{ user.id }}</td>
    <td>{{ user.type }}</td>
    <td>{{ user.attributes.phoneHome }}</td>
    <td>{{ user.attributes.phoneMobile }}</td>
    <td>{{ user.attributes.phoneWork }}</td>
    <td>{{ user.attributes.phoneOther }}</td>
    <td>{{ user.attributes.phoneFax }}</td>
    <td>{{ user.attributes.phoneAsterisk }}</td>
    <td>{{ user.attributes.email }}</td>
    <td>{{ user.attributes.status }}</td>
    <td>{{ user.attributes.employeeStatus }}</td>
  </tr>
</table>
