<fieldset class="blue">
    <legend>Phones SugarCRM</legend>
    <div>
        <label>Phone Mobile
            <input
                name="phoneMobile"
                type="text"
                [(ngModel)]="currentSugarUser.phoneMobile"
            >
        </label>
    </div>

    <div>
        <label>Phone Work
            <input
                name="phoneWork"
                type="text"
                [(ngModel)]="currentSugarUser.phoneWork"
            >
        </label>
    </div>

    <div>
        <label>Phone Fax
            <input
                name="phoneFax"
                type="text"
                [(ngModel)]="currentSugarUser.phoneFax"
            >
        </label>
    </div>
</fieldset>
