<fieldset class="blue">
  <legend>Extraneous</legend>
  <div>
    <label>Code User Tourplan
      <input name="sugar_tourplan" type="text" [(ngModel)]="codeTourplan">
    </label>
  </div>

  <div>
    <label>Code SON Galileo
      <input name="codeSON" type="text" [(ngModel)]="codeSON">
    </label>
  </div>

  <div>
    <label>Title
      <input name="title" type="text" [(ngModel)]="title">
    </label>
  </div>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="inactiveStatus" name="inactiveStatus">Statut inactif
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="inactiveEmployee" name="inactiveEmployee">Statut Employe inactif
    </label>
  </div>
</fieldset>
