<div>
  <label>Code User Tourplan
    <input name="sugar_tourplan" type="text" [(ngModel)]="fields.codeTourplan">
  </label>
</div>

<div>
  <label>Code SON Galileo
    <input name="codeSON" type="text" [(ngModel)]="fields.codeSON">
  </label>
</div>

<div>
  <label>Title
    <input name="title" type="text" [(ngModel)]="fields.title">
  </label>
</div>

<div ngModelGroup="inactive">
  <label>Statut inactif
    <input type="checkbox" [(ngModel)]="fields.inactiveStatus" name="inactiveStatus">
  </label>
  <label>Statut Employe inactif
    <input type="checkbox" [(ngModel)]="fields.inactiveEmployee" name="inactiveEmployee">
  </label>
</div>
