<fieldset class="blue">
    <legend>Extraneous</legend>
    <div>
        <label>Code User Tourplan
            <input
                name="sugar_tourplan"
                type="text"
                [(ngModel)]="sugarCurrentUser.tourplanID"
            >
        </label>
    </div>

    <div>
        <label>Code SON Galileo
            <input
                name="codeSON"
                type="text"
                [(ngModel)]="sugarCurrentUser.codeSonGalileo"
            >
        </label>
    </div>

    <div>
        <label>Title
            <input
                name="title"
                type="text"
                [(ngModel)]="sugarCurrentUser.title"
            >
        </label>
    </div>

    <div>Status
        <div class="radio">
            <label *ngFor="let status of statuses; trackBy: trackByFn">
                <input
                    type="radio"
                    name="status"
                    [(ngModel)]="sugarCurrentUser.status"
                    [value]="status"
                >{{ status }}
            </label>
        </div>
    </div>

    <div>Employee Status
        <div class="radio">
            <label *ngFor="let status of employeeStatuses; trackBy: trackByFn">
                <input
                    type="radio"
                    name="employeeStatus"
                    [(ngModel)]="sugarCurrentUser.employeeStatus"
                    [value]="status"
                >{{ status }}
            </label>
        </div>
    </div>

</fieldset>
