<div *ngIf="civilites != null">
    <fieldset class="blue">
        <legend>Credentials SugarCRM</legend>
        <div ngModelGroup="userInfo">
            <div *ngFor="let civilite of civilites; trackBy: trackByFn">
                <label>
                    <input
                        type="radio"
                        name="salutation"
                        [value]="civilite.label"
                        [(ngModel)]="sugarCurrentUser.salutation"
                    >
                    {{ civilite.label }}
                </label>
            </div>

            <div
                ngModelGroup="credentials"
                class="credentials"
            >
                <div>
                    <label>{{ userFields[0].label }}
                        <input
                            type="text"
                            [(ngModel)]="currentUser.common.firstName"
                            name="firstName"
                        >
                    </label>
                </div>
                <div>
                    <label>{{ userFields[1].label }}
                        <input
                            type="text"
                            [(ngModel)]="currentUser.common.lastName"
                            name="lastName"
                            (blur)="credentialClick()"
                        >
                    </label>
                </div>
                <div>
                    <label>{{ userFields[2].label }}
                        <input
                            type="text"
                            [(ngModel)]="currentUser.common.userName"
                            name="userName"
                            (ngModelChange)="checkUsernameAvailability($event)"
                        >
                    </label>
                    <span class="message-status"> {{ usernameStatus }} </span>
                </div>

                <div>
                    <label>{{ userFields[3].label }}
                        <input
                            type="text"
                            [(ngModel)]="sugarCurrentUser.email"
                            name="email"
                            (ngModelChange)="checkEmailAvailability($event)"
                        >
                    </label>
                    <span class="message-status"> {{ emailStatus }} </span>

                </div>
                <div>
                    <label>{{ userFields[4].label }}
                        <input
                            type="text"
                            [(ngModel)]="currentUser.common.password"
                            name="password"
                        >
                    </label>
                </div>
            </div>
        </div>
        <h2 *ngIf="sugarMessage != null">{{ sugarMessage }}</h2>
    </fieldset>
</div>
