<div *ngIf="fields != null && fields.civilites != null">
  <fieldset class="blue">
    <legend>Credentials</legend>
    <div ngModelGroup="userInfo">
      <div *ngFor="let civilite of fields.civilites">
        <label>
          <input type="radio" name="gender" [value]="civilite.label" [(ngModel)]="civilite.label">
          {{ civilite.label }}
        </label>
      </div>

      <div ngModelGroup="credentials">
        <div *ngFor="let userField of fields.userFields; trackBy: trackByFn">
          <label>
            {{ userField.label }}
            <input (blur)="credentialClick(fields.userFields)" [(ngModel)]="userField.value" [name]="userField.name" type="text">
          </label>
        </div>
      </div>
      <p *ngIf="usernameTaken">Username already taken</p>
    </div>
  </fieldset>
</div>
